@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create New Role</h1>

<div class="ml-0">
    <form method="post" action="/Admin/CreateRole">
        <p formaction="roleName">Role name: </p>
        <input class="ml-auto" type="text" name="roleName" id="roleName" required />
        <button type="submit" class="btn-success rounded-pill">Submit</button>
    </form>
</div>